## KAGGLE TITANIC

### 1. Data Cleaning

In [11]:
import tensorflow as tf
import numpy as np
import pandas as pd
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

In [12]:
data_train=pd.read_csv("data/train.csv")
data_train=shuffle(data_train,random_state=3)

In [13]:
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
395,396,0,3,"Johansson, Mr. Erik",male,22.0,0,0,350052,7.7958,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.0,3,0,3101278,15.8500,NaN,S
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S
542,543,0,3,"Andersson, Miss. Sigrid Elisabeth",female,11.0,4,2,347082,31.2750,NaN,S
702,703,0,3,"Barbara, Miss. Saiide",female,18.0,0,1,2691,14.4542,NaN,C

In [14]:
cabin=data_train[['Cabin']]
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder=OrdinalEncoder()
cabin_encoded=ordinal_encoder.fit_transform(cabin)
ordinal_encoder.categories_

[array(['A10', 'A14', 'A16', 'A19', 'A20', 'A23', 'A24', 'A26', 'A31',
        'A32', 'A34', 'A36', 'A5', 'A6', 'A7', 'B101', 'B102', 'B18',
        'B19', 'B20', 'B22', 'B28', 'B3', 'B30', 'B35', 'B37', 'B38',
        'B39', 'B4', 'B41', 'B42', 'B49', 'B5', 'B50', 'B51 B53 B55',
        'B57 B59 B63 B66', 'B58 B60', 'B69', 'B71', 'B73', 'B77', 'B78',
        'B79', 'B80', 'B82 B84', 'B86', 'B94', 'B96 B98', 'C101', 'C103',
        'C104', 'C106', 'C110', 'C111', 'C118', 'C123', 'C124', 'C125',
        'C126', 'C128', 'C148', 'C2', 'C22 C26', 'C23 C25 C27', 'C30',
        'C32', 'C45', 'C46', 'C47', 'C49', 'C50', 'C52', 'C54', 'C62 C64',
        'C65', 'C68', 'C7', 'C70', 'C78', 'C82', 'C83', 'C85', 'C86',
        'C87', 'C90', 'C91', 'C92', 'C93', 'C95', 'C99', 'D', 'D10 D12',
        'D11', 'D15', 'D17', 'D19', 'D20', 'D21', 'D26', 'D28', 'D30',
        'D33', 'D35', 'D36', 'D37', 'D45', 'D46', 'D47', 'D48', 'D49',
        'D50', 'D56', 'D6', 'D7', 'D9', 'E10', 'E101', 'E12', 'E121',
        'E17', 'E24', 'E25', 'E31', 'E33', 'E34', 'E36', 'E38', 'E40',
        'E44', 'E46', 'E49', 'E50', 'E58', 'E63', 'E67', 'E68', 'E77',
        'E8', 'F E69', 'F G63', 'F G73', 'F2', 'F33', 'F38', 'F4', 'G6',
        'T', nan], dtype=object)]

In [15]:
data_train[['Cabin']]=cabin_encoded

In [16]:
train_labels=data_train["Survived"]
data_train.loc[data_train['Sex'] =='male','s'] = 1 
data_train.loc[data_train['Sex'] =='female','s'] = 0
data_train=data_train.drop(['PassengerId','Name','Ticket','Embarked','Sex','Survived'],axis=1)
data_train.head()

     Pclass   Age  SibSp  Parch     Fare  Cabin    s
395       3  22.0      0      0   7.7958    NaN  1.0
85        3  33.0      3      0  15.8500    NaN  0.0
201       3   NaN      8      2  69.5500    NaN  1.0
542       3  11.0      4      2  31.2750    NaN  0.0
702       3  18.0      0      1  14.4542    NaN  0.0

In [17]:
data_train.to_numpy()
data_train=np.nan_to_num(data_train)
train_labels.to_numpy()
train_examples=data_train

In [18]:
X = train_examples
y = train_labels

X_train, X_rem, y_train, y_rem = train_test_split(X,y, train_size=0.8)
X_valid, X_test, y_valid, y_test = train_test_split(X_rem,y_rem, test_size=0.5)
BATCH_SIZE = int((X_train.shape[0])/1000)

In [19]:
X_train.shape

(712, 7)

###  2. TWEAK THE MODEL

In [43]:
def get_basic_model():

  model = tf.keras.Sequential([
    tf.keras.layers.InputLayer(input_shape=(7,)),
    tf.keras.layers.BatchNormalization(),
    tf.keras.layers.Dense(14,activation='relu'),
    tf.keras.layers.Dense(7,activation='relu'),
    tf.keras.layers.Dense(1,activation='sigmoid')
    ])
  opt = tf.keras.optimizers.SGD(learning_rate=0.01)
  model.compile(optimizer=opt,
                loss='binary_crossentropy',
                metrics=['accuracy'])
  return model

In [44]:
ACCURACY_THRESHOLD = 0.9
# Implement callback function to stop training
# when accuracy reaches e.g. ACCURACY_THRESHOLD = 0.95
class myCallback(tf.keras.callbacks.Callback): 
    def on_epoch_end(self, epoch, logs={}): 
        if(logs.get('accuracy') > ACCURACY_THRESHOLD):   
            print("\nReached %2.2f%% accuracy, so stopping training!!" %(ACCURACY_THRESHOLD*100))   
            self.model.stop_training = True
callbacks = myCallback()

In [45]:
model = get_basic_model()
model.fit(X_train,y_train, epochs=100, batch_size=BATCH_SIZE,validation_data=(X_valid,y_valid),callbacks=[callbacks])

Epoch 1/100
 1/23 [>.............................] - ETA: 5s - loss: 0.8416 - accuracy: 0.3750

2022-02-06 15:45:23.123600: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:112] Plugin optimizer for device_type GPU is enabled.

23/23 [==============================] - 1s 19ms/step - loss: 0.7984 - accuracy: 0.4157 - val_loss: 0.9553 - val_accuracy: 0.3258
Epoch 2/100
16/23 [===================>..........] - ETA: 0s - loss: 0.7754 - accuracy: 0.4395

2022-02-06 15:45:23.617019: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:112] Plugin optimizer for device_type GPU is enabled.

23/23 [==============================] - 0s 7ms/step - loss: 0.7898 - accuracy: 0.4480 - val_loss: 0.8471 - val_accuracy: 0.4607
Epoch 3/100
23/23 [==============================] - 0s 8ms/step - loss: 0.7790 - accuracy: 0.4565 - val_loss: 0.8032 - val_accuracy: 0.5618
Epoch 4/100
23/23 [==============================] - 0s 7ms/step - loss: 0.7706 - accuracy: 0.4888 - val_loss: 0.7799 - val_accuracy: 0.5955
Epoch 5/100
23/23 [==============================] - 0s 6ms/step - loss: 0.7549 - accuracy: 0.5154 - val_loss: 0.7650 - val_accuracy: 0.6067
Epoch 6/100
23/23 [==============================] - 0s 6ms/step - loss: 0.7432 - accuracy: 0.5463 - val_loss: 0.7545 - val_accuracy: 0.6404
Epoch 7/100
23/23 [==============================] - 0s 6ms/step - loss: 0.7338 - accuracy: 0.5520 - val_loss: 0.7448 - val_accuracy: 0.6180
Epoch 8/100
23/23 [==============================] - 0s 6ms/step - loss: 0.7281 - accuracy: 0.5730 - val_loss: 0.7375 - val_accuracy: 0.6067
Epoch 9/100
23/23 [==============================] - 0s 6ms/step - loss: 0.7200 - accuracy: 0.5913 - val_loss: 0.7299 - val_accuracy: 0.6067
Epoch 10/100
23/23 [==============================] - 0s 6ms/step - loss: 0.7069 - accuracy: 0.6110 - val_loss: 0.7241 - val_accuracy: 0.6292
Epoch 11/100
23/23 [==============================] - 0s 8ms/step - loss: 0.7114 - accuracy: 0.6390 - val_loss: 0.7168 - val_accuracy: 0.6517
Epoch 12/100
23/23 [==============================] - 0s 7ms/step - loss: 0.6945 - accuracy: 0.6475 - val_loss: 0.7110 - val_accuracy: 0.6854
Epoch 13/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6942 - accuracy: 0.6742 - val_loss: 0.7055 - val_accuracy: 0.6854
Epoch 14/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6863 - accuracy: 0.6784 - val_loss: 0.7001 - val_accuracy: 0.7079
Epoch 15/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6829 - accuracy: 0.6994 - val_loss: 0.6947 - val_accuracy: 0.7079
Epoch 16/100
23/23 [==============================] - 0s 8ms/step - loss: 0.6794 - accuracy: 0.7051 - val_loss: 0.6895 - val_accuracy: 0.7191
Epoch 17/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6711 - accuracy: 0.6924 - val_loss: 0.6846 - val_accuracy: 0.7416
Epoch 18/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6657 - accuracy: 0.7205 - val_loss: 0.6795 - val_accuracy: 0.7416
Epoch 19/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6693 - accuracy: 0.7022 - val_loss: 0.6748 - val_accuracy: 0.7640
Epoch 20/100
23/23 [==============================] - 0s 7ms/step - loss: 0.6537 - accuracy: 0.7177 - val_loss: 0.6703 - val_accuracy: 0.7640
Epoch 21/100
23/23 [==============================] - 0s 7ms/step - loss: 0.6453 - accuracy: 0.7205 - val_loss: 0.6656 - val_accuracy: 0.7640
Epoch 22/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6559 - accuracy: 0.7051 - val_loss: 0.6617 - val_accuracy: 0.7640
Epoch 23/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6393 - accuracy: 0.7065 - val_loss: 0.6571 - val_accuracy: 0.7640
Epoch 24/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6564 - accuracy: 0.7093 - val_loss: 0.6532 - val_accuracy: 0.7640
Epoch 25/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6399 - accuracy: 0.7149 - val_loss: 0.6495 - val_accuracy: 0.7191
Epoch 26/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6345 - accuracy: 0.7191 - val_loss: 0.6458 - val_accuracy: 0.7303
Epoch 27/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6359 - accuracy: 0.7107 - val_loss: 0.6430 - val_accuracy: 0.7303
Epoch 28/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6346 - accuracy: 0.7051 - val_loss: 0.6396 - val_accuracy: 0.7303
Epoch 29/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6310 - accuracy: 0.7008 - val_loss: 0.6363 - val_accuracy: 0.7303
Epoch 30/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6242 - accuracy: 0.7107 - val_loss: 0.6327 - val_accuracy: 0.7191
Epoch 31/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6228 - accuracy: 0.7121 - val_loss: 0.6305 - val_accuracy: 0.7079
Epoch 32/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6224 - accuracy: 0.7051 - val_loss: 0.6270 - val_accuracy: 0.6966
Epoch 33/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6180 - accuracy: 0.7065 - val_loss: 0.6243 - val_accuracy: 0.6966
Epoch 34/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6135 - accuracy: 0.7051 - val_loss: 0.6210 - val_accuracy: 0.6854
Epoch 35/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6154 - accuracy: 0.7051 - val_loss: 0.6184 - val_accuracy: 0.6854
Epoch 36/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6143 - accuracy: 0.6980 - val_loss: 0.6158 - val_accuracy: 0.6854
Epoch 37/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6119 - accuracy: 0.7177 - val_loss: 0.6134 - val_accuracy: 0.6854
Epoch 38/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6125 - accuracy: 0.7065 - val_loss: 0.6109 - val_accuracy: 0.6854
Epoch 39/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6101 - accuracy: 0.7121 - val_loss: 0.6086 - val_accuracy: 0.6854
Epoch 40/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5986 - accuracy: 0.7163 - val_loss: 0.6062 - val_accuracy: 0.6854
Epoch 41/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6054 - accuracy: 0.7205 - val_loss: 0.6042 - val_accuracy: 0.6854
Epoch 42/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6042 - accuracy: 0.7065 - val_loss: 0.6016 - val_accuracy: 0.6854
Epoch 43/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5997 - accuracy: 0.7037 - val_loss: 0.5997 - val_accuracy: 0.6854
Epoch 44/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6059 - accuracy: 0.6868 - val_loss: 0.5977 - val_accuracy: 0.6854
Epoch 45/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6010 - accuracy: 0.6980 - val_loss: 0.5955 - val_accuracy: 0.6854
Epoch 46/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5941 - accuracy: 0.7051 - val_loss: 0.5932 - val_accuracy: 0.6854
Epoch 47/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5908 - accuracy: 0.7079 - val_loss: 0.5912 - val_accuracy: 0.6854
Epoch 48/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5970 - accuracy: 0.6994 - val_loss: 0.5895 - val_accuracy: 0.6966
Epoch 49/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5949 - accuracy: 0.7008 - val_loss: 0.5878 - val_accuracy: 0.6966
Epoch 50/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5949 - accuracy: 0.7037 - val_loss: 0.5856 - val_accuracy: 0.6966
Epoch 51/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5887 - accuracy: 0.6966 - val_loss: 0.5845 - val_accuracy: 0.7191
Epoch 52/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5845 - accuracy: 0.7163 - val_loss: 0.5827 - val_accuracy: 0.7191
Epoch 53/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5865 - accuracy: 0.6910 - val_loss: 0.5808 - val_accuracy: 0.7303
Epoch 54/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5857 - accuracy: 0.7135 - val_loss: 0.5793 - val_accuracy: 0.7303
Epoch 55/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5882 - accuracy: 0.7022 - val_loss: 0.5777 - val_accuracy: 0.7303
Epoch 56/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5811 - accuracy: 0.7065 - val_loss: 0.5760 - val_accuracy: 0.7303
Epoch 57/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5788 - accuracy: 0.6938 - val_loss: 0.5747 - val_accuracy: 0.7303
Epoch 58/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5810 - accuracy: 0.7093 - val_loss: 0.5730 - val_accuracy: 0.7303
Epoch 59/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5807 - accuracy: 0.7051 - val_loss: 0.5715 - val_accuracy: 0.7303
Epoch 60/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5778 - accuracy: 0.7051 - val_loss: 0.5696 - val_accuracy: 0.7303
Epoch 61/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5801 - accuracy: 0.7037 - val_loss: 0.5687 - val_accuracy: 0.7191
Epoch 62/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5792 - accuracy: 0.7065 - val_loss: 0.5676 - val_accuracy: 0.7416
Epoch 63/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5686 - accuracy: 0.7191 - val_loss: 0.5662 - val_accuracy: 0.7416
Epoch 64/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5679 - accuracy: 0.7149 - val_loss: 0.5645 - val_accuracy: 0.7416
Epoch 65/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5704 - accuracy: 0.7037 - val_loss: 0.5632 - val_accuracy: 0.7416
Epoch 66/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5707 - accuracy: 0.6980 - val_loss: 0.5619 - val_accuracy: 0.7528
Epoch 67/100
23/23 [==============================] - 0s 8ms/step - loss: 0.5753 - accuracy: 0.7093 - val_loss: 0.5608 - val_accuracy: 0.7528
Epoch 68/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5666 - accuracy: 0.7107 - val_loss: 0.5597 - val_accuracy: 0.7528
Epoch 69/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5748 - accuracy: 0.7065 - val_loss: 0.5585 - val_accuracy: 0.7528
Epoch 70/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5626 - accuracy: 0.7149 - val_loss: 0.5571 - val_accuracy: 0.7528
Epoch 71/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5654 - accuracy: 0.7107 - val_loss: 0.5564 - val_accuracy: 0.7528
Epoch 72/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5628 - accuracy: 0.7065 - val_loss: 0.5550 - val_accuracy: 0.7640
Epoch 73/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5660 - accuracy: 0.7079 - val_loss: 0.5541 - val_accuracy: 0.7640
Epoch 74/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5638 - accuracy: 0.7191 - val_loss: 0.5528 - val_accuracy: 0.7640
Epoch 75/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5670 - accuracy: 0.7022 - val_loss: 0.5520 - val_accuracy: 0.7640
Epoch 76/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5666 - accuracy: 0.7037 - val_loss: 0.5519 - val_accuracy: 0.7640
Epoch 77/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5679 - accuracy: 0.6980 - val_loss: 0.5506 - val_accuracy: 0.7640
Epoch 78/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5637 - accuracy: 0.6994 - val_loss: 0.5495 - val_accuracy: 0.7640
Epoch 79/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5585 - accuracy: 0.7163 - val_loss: 0.5482 - val_accuracy: 0.7640
Epoch 80/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5576 - accuracy: 0.7093 - val_loss: 0.5468 - val_accuracy: 0.7640
Epoch 81/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5614 - accuracy: 0.7079 - val_loss: 0.5455 - val_accuracy: 0.7640
Epoch 82/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5592 - accuracy: 0.7008 - val_loss: 0.5440 - val_accuracy: 0.7640
Epoch 83/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5550 - accuracy: 0.7149 - val_loss: 0.5434 - val_accuracy: 0.7640
Epoch 84/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5557 - accuracy: 0.7121 - val_loss: 0.5422 - val_accuracy: 0.7640
Epoch 85/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5559 - accuracy: 0.7233 - val_loss: 0.5413 - val_accuracy: 0.7640
Epoch 86/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5591 - accuracy: 0.7233 - val_loss: 0.5407 - val_accuracy: 0.7640
Epoch 87/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5535 - accuracy: 0.7247 - val_loss: 0.5400 - val_accuracy: 0.7640
Epoch 88/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5551 - accuracy: 0.7079 - val_loss: 0.5394 - val_accuracy: 0.7528
Epoch 89/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5592 - accuracy: 0.7093 - val_loss: 0.5385 - val_accuracy: 0.7640
Epoch 90/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5447 - accuracy: 0.7303 - val_loss: 0.5375 - val_accuracy: 0.7640
Epoch 91/100
23/23 [==============================] - 0s 7ms/step - loss: 0.5460 - accuracy: 0.7135 - val_loss: 0.5365 - val_accuracy: 0.7640
Epoch 92/100
23/23 [==============================] - 0s 7ms/step - loss: 0.5477 - accuracy: 0.7233 - val_loss: 0.5353 - val_accuracy: 0.7528
Epoch 93/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5459 - accuracy: 0.7261 - val_loss: 0.5349 - val_accuracy: 0.7528
Epoch 94/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5511 - accuracy: 0.7135 - val_loss: 0.5335 - val_accuracy: 0.7528
Epoch 95/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5425 - accuracy: 0.7289 - val_loss: 0.5324 - val_accuracy: 0.7528
Epoch 96/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5499 - accuracy: 0.7163 - val_loss: 0.5312 - val_accuracy: 0.7640
Epoch 97/100
23/23 [==============================] - 0s 7ms/step - loss: 0.5513 - accuracy: 0.7205 - val_loss: 0.5304 - val_accuracy: 0.7640
Epoch 98/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5493 - accuracy: 0.7135 - val_loss: 0.5298 - val_accuracy: 0.7640
Epoch 99/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5503 - accuracy: 0.7163 - val_loss: 0.5287 - val_accuracy: 0.7640
Epoch 100/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5508 - accuracy: 0.7219 - val_loss: 0.5281 - val_accuracy: 0.7528

In [46]:
model.evaluate(X_test,y_test)

3/3 [==============================] - 0s 12ms/step - loss: 0.4628 - accuracy: 0.8000

[0.46284323930740356, 0.800000011920929]

### 3. CSV SUBMISSION

In [36]:
test=pd.read_csv("data/test.csv")
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [40]:
test=pd.read_csv("data/test.csv")
test_id=test["PassengerId"]
test.loc[test['Sex'] =='male','s'] = 1 
test.loc[test['Sex'] =='female','s'] = 0
cabin=test[['Cabin']]
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder=OrdinalEncoder()
cabin_encoded=ordinal_encoder.fit_transform(cabin)
test[['Cabin']]=cabin_encoded
test=test.drop(['Name','Ticket','Embarked','Sex','PassengerId'],axis=1)
test.head()

   Pclass   Age  SibSp  Parch     Fare  Cabin    s
0       3  34.5      0      0   7.8292    NaN  1.0
1       3  47.0      1      0   7.0000    NaN  0.0
2       2  62.0      0      0   9.6875    NaN  1.0
3       3  27.0      0      0   8.6625    NaN  1.0
4       3  22.0      1      1  12.2875    NaN  0.0

In [41]:
test.to_numpy()
test=np.nan_to_num(test)
ans=model.predict(test)
data=pd.DataFrame()
ans=np.where(ans > 0.5, 1, 0)
data.insert(0,"PassengerId",test_id)
data.insert(1,"Survived",ans)

In [42]:
data.to_csv("data/model1_17.csv",index=False)